In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./hello.csv")

In [4]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import re
def remove_nested_parentheses(text):
    if pd.notna(text):  # Check if the value is not NaN
        while '(' in text and ')' in text:
            # Removing nested parentheses
            text = re.sub(r'\([^()]*\)', '', text)
        
        # Removing standalone closing parentheses
        text = re.sub(r'\)', '', text)
    else:
        text = ''  # Set an empty string for NaN values

    return text

In [6]:
# Replace NaN values in the 'Time' column with an empty string
df['Time'] = df['Time'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time'].apply(remove_nested_parentheses)

In [7]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2,Cleaned_Time
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN,M W 17:00-18:00
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN,M W 12:00-13:00
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN,"M F 08:00-09:00 ,T 09:00-10:00"
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN,T W F 16:00-17:00
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN,"W F 14:00-15:00 ,T 17:00-18:00"
...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN,MTh 09:00-10:15
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN,M Th 09:00-10:15
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN,MTh 12:00-13:15
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN,M Th 12:00-13:15
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,NaN,NaN,NaN,

In [8]:
# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

In [9]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2,Cleaned_Time,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN,M W 17:00-18:00,M W 17:00-18:00,None,None
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN,M W 12:00-13:00,M W 12:00-13:00,None,None
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN,"M F 08:00-09:00 ,T 09:00-10:00",M F 08:00-09:00,T 09:00-10:00,None
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN,T W F 16:00-17:00,T W F 16:00-17:00,None,None
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN,"W F 14:00-15:00 ,T 17:00-18:00",W F 14:00-15:00,T 17:00-18:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN,MTh 09:00-10:15,MTh 09:00-10:15,None,None
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN,M Th 09:00-10:15,M Th 09:00-10:15,None,None
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN,MTh 12:00-13:15,MTh 12:00-13:15,None,None
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN,M Th 12:00-13:15,M Th 12:00-13:15,None,None
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,NaN,NaN,NaN,,,None,None

In [10]:
df = df.drop('Cleaned_Time', axis=1)

In [11]:
df = df.drop(['Venue', 'Venue.1', 'Venue.2'], axis=1)

In [12]:
df = df.drop('S.No.', axis =1 )

In [13]:
df = df.drop('Br', axis=1)

In [14]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M W 17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M W 12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M F 08:00-09:00,T 09:00-10:00,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T W F 16:00-17:00,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W F 14:00-15:00,T 17:00-18:00,None
...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh 09:00-10:15,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M Th 09:00-10:15,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh 12:00-13:15,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M Th 12:00-13:15,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None

In [15]:
df['Cleaned_Time_1'] = df['Cleaned_Time_1'].str.replace(r'\s+', '', regex=True)

In [16]:
df['Cleaned_Time_2'] = df['Cleaned_Time_2'].str.replace(r'\s+', '', regex=True)

In [17]:
df['Cleaned_Time_3'] = df['Cleaned_Time_3'].str.replace(r'\s+', '', regex=True)

In [18]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None
...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None

In [24]:
import pandas as pd

# Assuming you have a DataFrame named df with the column 'Cleaned_Time_1' containing data in the format 'TWF16:00-17:00' or 'MF08:00-09:00' or 'MTh09:00-10:15'

# Extracting 'day1', 'day2', and 'day3' from 'Cleaned_Time_1'
df['day1'] = df['Cleaned_Time_1'].str[0]
df['day2'] = df['Cleaned_Time_1'].str[1]
df['day3'] = df['Cleaned_Time_1'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 12, 'day3'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 11, ['day2', 'day3']] = None

# Extracting 'time1', 'time2', and 'time3' from 'Cleaned_Time_1'
df['time1'] = df['Cleaned_Time_1'].str[3:11] + 'PM'
df['time2'] = df['Cleaned_Time_1'].str[3:11] + 'PM'
df['time3'] = df['Cleaned_Time_1'].str[3:11] + 'PM'

# For the rows with one day (like 'M09:00-10:15'), we need to adjust 'time2' and 'time3' based on the provided time duration
# For example, 'time2' should be '09:00-10:15PM' and 'time3' should be None
df.loc[df['Cleaned_Time_1'].str.len() == 11, 'time2'] = df.loc[df['Cleaned_Time_1'].str.len() == 11, 'Cleaned_Time_1'].str[1:11] + 'PM'
df.loc[df['Cleaned_Time_1'].str.len() == 11, 'time3'] = None

# Dropping the original 'Cleaned_Time_1' column if needed
# df.drop('Cleaned_Time_1', axis=1, inplace=True)

print(df)

                                 Course Name/Group Name     Credits  \
0         INTRODUCTION TO AEROSPACE ENGINEERING(AE201M)  3-0-0-0(5)
1                                       DYNAMICS(AE209)  2-1-0-0(8)
2                     COMPRESSIBLE AERODYNAMICS(AE311A)  3-0-0-0(9)
3                              FLIGHT MECHANICS(AE321A)  3-0-0-0(9)
4          INTRODUCTION TO AEROSPACE STRUCTURES(AE331A)  3-0-0-0(9)
...                                                 ...         ...
1005  FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...  3-0-0-0(9)
1006  FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...  3-0-0-0(9)
1007                     SOLAR SYSTEM MECHANICS(SPA620)  3-0-0-0(9)
1008                    SOLAR SYSTEM MECHANICS(SPA620A)  3-0-0-0(9)
1009                                 PHD THESIS(SPA799)  0-0-0-0(0)

                          Instructor  \
0     ASHOKE  DE (I), ABHISHEK   (O)
1                  SANJAY  KUMAR (I)
2                   Arun  Perumal(I)
3            Subrahmanyam Saderla(I)
4                C S  UPADHYAY   (I)
...                              ...
1005                 Amitesh Omar(I)
1006                 Amitesh Omar(I)
1007     Sharvari Nadkarni Ghosh (I)
1008     Sharvari Nadkarni Ghosh (I)
1009     Sharvari Nadkarni Ghosh (I)

                                                   Time  \
0                          M (L05) W (L05)  17:00-18:00
1            M (DJAB(206H)) W (DJAB(206H))  12:00-13:00
2     M (L14) F (L14)  08:00-09:00 ,T (L14)  09:00-1...
3                  T (L06) W (L06) F (L06)  16:00-17:00
4     W (L09) F (L09)  14:00-15:00 ,T (L09)  17:00-1...
...                                                 ...
1005                                    MTh 09:00-10:15
1006                    M (T112) Th (T112)  09:00-10:15
1007                                    MTh 12:00-13:15
1008                    M (T112) Th (T112)  12:00-13:15
1009

                           Time.1 Time.2  Cleaned_Time_1 Cleaned_Time_2  \
0            F (L05)  17:00-18:00    NaN   MW17:00-18:00           None
1     F (DJAB(206H))  12:00-13:00    NaN   MW12:00-13:00           None
2                             NaN    NaN   MF08:00-09:00   T09:00-10:00
3                             NaN    NaN  TWF16:00-17:00           None
4                             NaN    NaN   WF14:00-15:00   T17:00-18:00
...                           ...    ...             ...            ...
1005                          NaN    NaN  MTh09:00-10:15           None
1006                          NaN    NaN  MTh09:00-10:15           None
1007                          NaN    NaN  MTh12:00-13:15           None
1008                          NaN    NaN  MTh12:00-13:15           None
1009                          NaN    NaN                           None

     Cleaned_Time_3 day1 day2 day3       time1       time2       time3
0              None    M    W    1  7:00-18:PM  7:00-18:PM  7:00-18:PM
1              None    M    W    1  2:00-13:PM  2:00-13:PM  2:00-13:PM
2              None    M    F    0  8:00-09:PM  8:00-09:PM  8:00-09:PM
3              None    T    W    F  16:00-17PM  16:00-17PM  16:00-17PM
4              None    W    F    1  4:00-15:PM  4:00-15:PM  4:00-15:PM
...             ...  ...  ...  ...         ...         ...         ...
1005           None    M    T    h  09:00-10PM  09:00-10PM  09:00-10PM
1006           None    M    T    h  09:00-10PM  09:00-10PM  09:00-10PM
1007           None    M    T    h  12:00-13PM  12:00-13PM  12:00-13PM
1008           None    M    T    h  12:00-13PM  12:00-13PM  12:00-13PM
1009           None  NaN  NaN  NaN          PM          PM          PM

[1010 rows x 15 columns]

In [25]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,time1,time2,time3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,1,7:00-18:PM,7:00-18:PM,7:00-18:PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,1,2:00-13:PM,2:00-13:PM,2:00-13:PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,0,8:00-09:PM,8:00-09:PM,8:00-09:PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00-17PM,16:00-17PM,16:00-17PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,1,4:00-15:PM,4:00-15:PM,4:00-15:PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,T,h,09:00-10PM,09:00-10PM,09:00-10PM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,T,h,09:00-10PM,09:00-10PM,09:00-10PM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,T,h,12:00-13PM,12:00-13PM,12:00-13PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,T,h,12:00-13PM,12:00-13PM,12:00-13PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM

In [26]:
def process_day3(value, day2_value):
    # If either "day2" or "day3" is NaN, return them as they are
    if pd.isna(value) or pd.isna(day2_value):
        return value, day2_value

    # If "day3" has lowercase 'h', set it to NaN and concatenate 'h' at the end of "day2" value
    if 'h' in value:
        return pd.NA, day2_value + 'h'

    # If "day3" has a digit, set it to NaN
    if any(char.isdigit() for char in value):
        return pd.NA, day2_value

    # If "day3" has any Capital Alphabet, leave it as it is
    if any(char.isupper() for char in value):
        return value, day2_value

    return value, day2_value

In [27]:
df[["day3", "day2"]] = df.apply(lambda row: process_day3(row["day3"], row["day2"]), axis=1, result_type="expand")

In [28]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,time1,time2,time3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>,7:00-18:PM,7:00-18:PM,7:00-18:PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>,2:00-13:PM,2:00-13:PM,2:00-13:PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>,8:00-09:PM,8:00-09:PM,8:00-09:PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00-17PM,16:00-17PM,16:00-17PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>,4:00-15:PM,4:00-15:PM,4:00-15:PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10PM,09:00-10PM,09:00-10PM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10PM,09:00-10PM,09:00-10PM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13PM,12:00-13PM,12:00-13PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13PM,12:00-13PM,12:00-13PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM

In [29]:
df =df.drop(['time1', 'time2', 'time3'], axis=1)

In [30]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN

In [31]:
df["time123"] = df["Cleaned_Time_1"].str[-11:]

In [32]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,time123
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>,17:00-18:00
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>,12:00-13:00
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>,08:00-09:00
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00-17:00
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>,14:00-15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,

In [33]:
from datetime import datetime
def convert_time(time_str):
    if pd.isna(time_str):
        return pd.NA, pd.NA
    
    try:
        start_time, end_time = time_str.split('-')
        start_time_dt = datetime.strptime(start_time.strip(), '%H:%M')
        end_time_dt = datetime.strptime(end_time.strip(), '%H:%M')
        
        start_time_formatted = start_time_dt.strftime('%I:%M%p')
        end_time_formatted = end_time_dt.strftime('%I:%M%p')
        
        return pd.Series([start_time_formatted, end_time_formatted], index=['start_time', 'end_time'])
    except ValueError:
        return pd.NA, pd.NA

In [39]:
def convert_time(time_str):
    if pd.isna(time_str):
        return pd.NA, pd.NA
    
    try:
        start_time, end_time = time_str.split('-')
        start_time_dt = datetime.strptime(start_time.strip(), '%H:%M')
        end_time_dt = datetime.strptime(end_time.strip(), '%H:%M')
        
        start_time_formatted = start_time_dt.strftime('%I:%M %p')
        end_time_formatted = end_time_dt.strftime('%I:%M %p')
        
        return start_time_formatted, end_time_formatted
    except ValueError:
        return pd.NA, pd.NA

# Apply the function to the "raw" column and create new columns "start_time" and "end_time"
df[['start_time', 'end_time']] = df["time123"].apply(lambda x: pd.Series(convert_time(x)))

In [42]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,time123,start_time,end_time
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>,17:00-18:00,05:00 PM,06:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>,12:00-13:00,12:00 PM,01:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>,08:00-09:00,08:00 AM,09:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00-17:00,04:00 PM,05:00 PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>,14:00-15:00,02:00 PM,03:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15,09:00 AM,10:15 AM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15,09:00 AM,10:15 AM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15,12:00 PM,01:15 PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15,12:00 PM,01:15 PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,,<NA>,<NA>

In [47]:
def convert_to_new_format(time_str):
    if pd.isna(time_str):  # Check if the input is missing (NaN)
        return None        # Return None or any other value that suits your data handling
    
    # Split the time string into hours and minutes
    time_parts = time_str.split(":")
    hours = int(time_parts[0])
    minutes = int(time_parts[1][:2])
    
    # Extract AM/PM information
    meridiem = time_parts[1][3:].strip().upper()
    
    # Convert to 24-hour format
    if meridiem == "PM" and hours != 12:
        hours += 12
    elif meridiem == "AM" and hours == 12:
        hours = 0
    
    # Format the result
    result = f"{hours:02d}:{minutes:02d} {meridiem}"
    return result

# Create a new column with the data in the new format
# df['time_new_format'] = df['time_input_format'].apply(convert_to_new_format)


# Create a new column with the data in the new format
df['start_time123'] = df['start_time'].apply(convert_to_new_format)
df['end_time123'] = df['end_time'].apply(convert_to_new_format)

In [48]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,time123,start_time,end_time,start_time123,end_time123
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>,17:00-18:00,05:00 PM,06:00 PM,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>,12:00-13:00,12:00 PM,01:00 PM,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>,08:00-09:00,08:00 AM,09:00 AM,08:00 AM,09:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00-17:00,04:00 PM,05:00 PM,16:00 PM,17:00 PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>,14:00-15:00,02:00 PM,03:00 PM,14:00 PM,15:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15,09:00 AM,10:15 AM,09:00 AM,10:15 AM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00-10:15,09:00 AM,10:15 AM,09:00 AM,10:15 AM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15,12:00 PM,01:15 PM,12:00 PM,13:15 PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00-13:15,12:00 PM,01:15 PM,12:00 PM,13:15 PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,,<NA>,<NA>,None,None

In [51]:
df = df.drop("time123", axis = 1)

In [52]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,MW17:00-18:00,None,None,M,W,<NA>,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,MW12:00-13:00,None,None,M,W,<NA>,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,MF08:00-09:00,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,TWF16:00-17:00,None,None,T,W,F,16:00 PM,17:00 PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,WF14:00-15:00,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00 AM,10:15 AM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,MTh09:00-10:15,None,None,M,Th,<NA>,09:00 AM,10:15 AM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00 PM,13:15 PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,MTh12:00-13:15,None,None,M,Th,<NA>,12:00 PM,13:15 PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,,None,None,NaN,NaN,NaN,None,None

In [53]:
df = df.drop('Cleaned_Time_1', axis =1)

In [54]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,<NA>,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,<NA>,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,F,16:00 PM,17:00 PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,NaN,None,None

In [55]:
import pandas as pd

# Assuming you have a DataFrame named df with the column 'Cleaned_Time_1' containing data in the format 'TWF16:00-17:00' or 'MF08:00-09:00' or 'MTh09:00-10:15'

# Extracting 'day1', 'day2', and 'day3' from 'Cleaned_Time_1'
df['day4'] = df['Cleaned_Time_2'].str[0]
df['day5'] = df['Cleaned_Time_2'].str[1]
df['day6'] = df['Cleaned_Time_2'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_2'].str.len() == 12, 'day6'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_2'].str.len() == 11, ['day5', 'day6']] = None

# Extracting 'time1', 'time2', and 'time3' from 'Cleaned_Time_1'
df['time4'] = df['Cleaned_Time_2'].str[3:11] + 'PM'
df['time5'] = df['Cleaned_Time_2'].str[3:11] + 'PM'
df['time6'] = df['Cleaned_Time_2'].str[3:11] + 'PM'

# For the rows with one day (like 'M09:00-10:15'), we need to adjust 'time2' and 'time3' based on the provided time duration
# For example, 'time2' should be '09:00-10:15PM' and 'time3' should be None
df.loc[df['Cleaned_Time_2'].str.len() == 11, 'time5'] = df.loc[df['Cleaned_Time_2'].str.len() == 11, 'Cleaned_Time_2'].str[1:11] + 'PM'
df.loc[df['Cleaned_Time_2'].str.len() == 11, 'time6'] = None

# Dropping the original 'Cleaned_Time_1' column if needed
# df.drop('Cleaned_Time_1', axis=1, inplace=True)

df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,time4,time5,time6
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM,T,0,None,:00-10:0PM,:00-10:0PM,:00-10:0PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,F,16:00 PM,17:00 PM,None,None,None,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM,T,1,None,:00-18:0PM,:00-18:0PM,:00-18:0PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,NaN,NaN,NaN
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,NaN,NaN,NaN
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,NaN,NaN,NaN
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,NaN,None,None,None,None,None,NaN,NaN,NaN

In [56]:
def process_day3(value, day2_value):
    # If either "day2" or "day3" is NaN, return them as they are
    if pd.isna(value) or pd.isna(day2_value):
        return value, day2_value

    # If "day3" has lowercase 'h', set it to NaN and concatenate 'h' at the end of "day2" value
    if 'h' in value:
        return pd.NA, day2_value + 'h'

    # If "day3" has a digit, set it to NaN
    if any(char.isdigit() for char in value):
        return pd.NA, day2_value

    # If "day3" has any Capital Alphabet, leave it as it is
    if any(char.isupper() for char in value):
        return value, day2_value

    return value, day2_value

In [57]:
df[["day5", "day4"]] = df.apply(lambda row: process_day3(row["day5"], row["day4"]), axis=1, result_type="expand")

In [58]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,time4,time5,time6
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM,T,<NA>,None,:00-10:0PM,:00-10:0PM,:00-10:0PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,F,16:00 PM,17:00 PM,None,None,None,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM,T,<NA>,None,:00-18:0PM,:00-18:0PM,:00-18:0PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,NaN,NaN,NaN
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,NaN,NaN,NaN
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,NaN,NaN,NaN
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,NaN,None,None,None,None,None,NaN,NaN,NaN

In [59]:
df =df.drop(['time4', 'time5', 'time6'], axis=1)
df["time456"] = df["Cleaned_Time_2"].str[-11:]

In [60]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,time456
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM,T,<NA>,None,09:00-10:00
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,F,16:00 PM,17:00 PM,None,None,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM,T,<NA>,None,17:00-18:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,NaN,None,None,None,None,None,None

In [61]:
df[['start_time', 'end_time']] = df["time456"].apply(lambda x: pd.Series(convert_time(x)))

In [62]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,time456,start_time,end_time
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,None,<NA>,<NA>
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,None,<NA>,<NA>
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,<NA>,08:00 AM,09:00 AM,T,<NA>,None,09:00-10:00,09:00 AM,10:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,F,16:00 PM,17:00 PM,None,None,None,None,<NA>,<NA>
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,<NA>,14:00 PM,15:00 PM,T,<NA>,None,17:00-18:00,05:00 PM,06:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None,<NA>,<NA>
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None,<NA>,<NA>
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None,<NA>,<NA>
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None,<NA>,<NA>
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,NaN,None,None,None,None,None,None,<NA>,<NA>

In [63]:

df['start_time456'] = df['start_time'].apply(convert_to_new_format)
df['end_time456'] = df['end_time'].apply(convert_to_new_format)

In [64]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_2,Cleaned_Time_3,day1,day2,...,start_time123,end_time123,day4,day5,day6,time456,start_time,end_time,start_time456,end_time456
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,None,M,W,...,17:00 PM,18:00 PM,None,None,None,None,<NA>,<NA>,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,None,M,W,...,12:00 PM,13:00 PM,None,None,None,None,<NA>,<NA>,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,T09:00-10:00,None,M,F,...,08:00 AM,09:00 AM,T,<NA>,None,09:00-10:00,09:00 AM,10:00 AM,09:00 AM,10:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,None,T,W,...,16:00 PM,17:00 PM,None,None,None,None,<NA>,<NA>,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,T17:00-18:00,None,W,F,...,14:00 PM,15:00 PM,T,<NA>,None,17:00-18:00,05:00 PM,06:00 PM,17:00 PM,18:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,None,M,Th,...,09:00 AM,10:15 AM,None,None,None,None,<NA>,<NA>,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,None,M,Th,...,09:00 AM,10:15 AM,None,None,None,None,<NA>,<NA>,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,None,M,Th,...,12:00 PM,13:15 PM,None,None,None,None,<NA>,<NA>,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,None,M,Th,...,12:00 PM,13:15 PM,None,None,None,None,<NA>,<NA>,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,None,NaN,NaN,...,None,None,None,None,None,None,<NA>,<NA>,None,None

In [65]:
df = df.drop(["time456", "Cleaned_Time_2"], axis = 1)

In [68]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,start_time,end_time,start_time456,end_time456
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,<NA>,<NA>,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,<NA>,<NA>,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,None,M,F,<NA>,08:00 AM,09:00 AM,T,<NA>,None,09:00 AM,10:00 AM,09:00 AM,10:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,T,W,F,16:00 PM,17:00 PM,None,None,None,<NA>,<NA>,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,None,W,F,<NA>,14:00 PM,15:00 PM,T,<NA>,None,05:00 PM,06:00 PM,17:00 PM,18:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,<NA>,<NA>,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,<NA>,<NA>,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,<NA>,<NA>,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,<NA>,<NA>,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,NaN,NaN,NaN,None,None,None,None,None,<NA>,<NA>,None,None

In [69]:
df = df.drop(["start_time", "end_time"], axis = 1)

In [70]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,start_time456,end_time456
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,None,M,W,<NA>,17:00 PM,18:00 PM,None,None,None,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,None,M,W,<NA>,12:00 PM,13:00 PM,None,None,None,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,None,M,F,<NA>,08:00 AM,09:00 AM,T,<NA>,None,09:00 AM,10:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,None,T,W,F,16:00 PM,17:00 PM,None,None,None,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,None,W,F,<NA>,14:00 PM,15:00 PM,T,<NA>,None,17:00 PM,18:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None,None
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,None,M,Th,<NA>,09:00 AM,10:15 AM,None,None,None,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None,None
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,None,M,Th,<NA>,12:00 PM,13:15 PM,None,None,None,None,None
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,None

In [71]:
num_non_values = df['Cleaned_Time_3'].isna().sum()

print("Number of non-values in the column:", num_non_values)

Number of non-values in the column: 992

In [108]:
indices_with_non_none_values = df.index[df['day6'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,day6,start_time456,end_time456
81,STATISTICS FOR MODERN BIOLOGY(BSE658),3-0-0-0(9),Arjun Ramakrishnan(I),"T 10:00-11:00 ,WF 15:00-16:00",NaN,NaN,None,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
82,STATISTICS FOR MODERN BIOLOGY(BSE658A),3-0-0-0(9),Arjun Ramakrishnan(I),"T (T111) 10:00-11:00 ,W (T111) F (T111) 15:0...",NaN,NaN,None,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
188,MASS TRANSFER & ITS APPLICATIONS(CHE313A),3-0-0-0(9),RAJ GANESH S PALA (I),"W (L03) 16:00-17:00 ,T (L03) Th (L03) 17:00-...",NaN,NaN,None,W,1,None,16:00 PM,17:00 PM,T,Th,h,17:00 PM,18:00 PM
216,GRADUATE SEMINAR(CHE801A),0-0-0-0(0),Rahul Mangal(I),"T (T110) 11:00-12:00 ,W (T110) F (T110) 16:0...",NaN,NaN,Th17:00-18:00,T,1,None,11:00 AM,12:00 PM,W,F,1,16:00 PM,17:00 PM
217,GRADUATE SEMINAR(CHE802A),0-0-0-0(0),Rahul Mangal(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,None,11:00 AM,12:00 PM,W,F,1,16:00 PM,17:00 PM
286,PRACTICAL ETHICS(ETH111),1-0-0-2(3),Pingala Admin Not Offered(I),W (T204) W (T207) W (T208) W (T210) W (T203) W...,NaN,NaN,FF17:00-18:30,W,W,W,08:00 AM,09:30 AM,T,T,T,11:00 AM,12:30 PM
369,MACROECONOMICS-II(ECO321A),3-0-0-0(9),WASIM AHMAD(I),"T (L05) 12:00-13:00 ,W (L05) F (L05) 16:00-1...",NaN,NaN,None,T,1,None,12:00 PM,13:00 PM,W,F,1,16:00 PM,17:00 PM
370,ECONOMETRICS I(ECO341A),3-0-3-0(12),MOHAMMAD ARSHAD RAHMAN(I),"W (L08) F (L08) 15:00-16:00 ,Th (L08) 17:00-...",NaN,T 14:00-17:00,None,W,F,<NA>,15:00 PM,16:00 PM,Th,<NA>,1,17:00 PM,18:00 PM
396,APPLIED ECONOMETRICS(ECO761),3-0-0-0(9),DEEP MUKHERJEE(I),"WF 15:00-16:00 ,Th 17:00-18:00",NaN,NaN,None,W,F,<NA>,15:00 PM,16:00 PM,Th,<NA>,1,17:00 PM,18:00 PM
397,APPLIED ECONOMETRICS(ECO761A),3-0-0-0(9),DEEP MUKHERJEE(I),"W (T107) F (T107) 15:00-16:00 ,Th (T107) 17:...",NaN,NaN,None,W,F,<NA>,15:00 PM,16:00 PM,Th,<NA>,1,17:00 PM,18:00 PM
437,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641),3-0-0-0(9),ANIMESH BISWAS (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
438,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641A),3-0-0-0(9),ANIMESH BISWAS (I),"T (T106) 10:00-11:00 ,W (T106) F (T106) 15:0...",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
765,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
766,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T (T212) 10:00-11:00 ,W (T212) F (T212) 15:0...",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
779,HEAT TREATMENT AND SURFACE HARDENING(MSE671),3-0-0-0(9),KAUSTUBH NARHAR KULKARNI(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,None,11:00 AM,12:00 PM,W,F,1,16:00 PM,17:00 PM
780,HEAT TREATMENT AND SURFACE HARDENING(MSE671A),3-0-0-0(9),KAUSTUBH NARHAR KULKARNI(I),"T (L11) 11:00-12:00 ,W (L11) F (L11) 16:00-1...",NaN,NaN,None,T,1,None,11:00 AM,12:00 PM,W,F,1,16:00 PM,17:00 PM
974,THERMO-FLUID ENGINEERING(SEE601),3-0-0-0(9),Laltu Chandra(I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
975,THERMO-FLUID ENGINEERING(SEE601A),3-0-0-0(9),Laltu Chandra(I),"T (T112) 10:00-11:00 ,W (T112) F (T112) 15:0...",NaN,NaN,M17:00-18:00,T,1,None,10:00 AM,11:00 AM,W,F,1,15:00 PM,16:00 PM
982,INTRODUCTION TO BIOENERGY AND BIOFUELS(SEE608A),3-0-0-0(9),"Deepika Swami(I), RAJU KUMAR GUPTA(O), ANAND S...","W (T110) 14:00-15:00 ,T (T110) F (T110) 12:0...",NaN,NaN,None,W,1,None,14:00 PM,15:00 PM,T,F,1,12:00 PM,13:00 PM

In [112]:
df = df.drop("day6", axis = 1)

In [114]:
output_file = "output_2707_6PM.csv"

# Save the DataFrame to the CSV file
df.to_csv(output_file, index=False)

In [115]:
df2 = pd.read_csv("output_2707_6PM.csv")

In [116]:
df2

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,NaN,M,F,NaN,08:00 AM,09:00 AM,T,NaN,09:00 AM,10:00 AM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,09:00 AM,10:15 AM,NaN,NaN,NaN,NaN
1006,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,09:00 AM,10:15 AM,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN
1008,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN
1009,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
indices_with_non_none_values = df2.index[df2['Cleaned_Time_3'].notna()]

# Print the rows with non-None values
df2.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456
216,GRADUATE SEMINAR(CHE801A),0-0-0-0(0),Rahul Mangal(I),"T (T110) 11:00-12:00 ,W (T110) F (T110) 16:0...",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
217,GRADUATE SEMINAR(CHE802A),0-0-0-0(0),Rahul Mangal(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
286,PRACTICAL ETHICS(ETH111),1-0-0-2(3),Pingala Admin Not Offered(I),W (T204) W (T207) W (T208) W (T210) W (T203) W...,NaN,NaN,FF17:00-18:30,W,W,W,08:00 AM,09:30 AM,T,T,11:00 AM,12:30 PM
314,HARDWARE SECURITY OF INTERNET OF THINGS(CS666),3-0-0-0(9),Urbi Chatterjee(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
315,HARDWARE SECURITY OF INTERNET OF THINGS(CS666A),3-0-0-0(9),Urbi Chatterjee(I),"W (KD102) 12:00-13:00 ,F (KD102) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
437,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641),3-0-0-0(9),ANIMESH BISWAS (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
438,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641A),3-0-0-0(9),ANIMESH BISWAS (I),"T (T106) 10:00-11:00 ,W (T106) F (T106) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
702,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
703,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648A),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W (T211) 12:00-13:00 ,F (T211) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
735,VIBRATION CONTROL(ME756),3-0-0-0(9),B BHATTACHARYA (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
736,VIBRATION CONTROL(ME756A),3-0-0-0(9),B BHATTACHARYA (I),"W (T103) 12:00-13:00 ,F (T103) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
765,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
766,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T (T212) 10:00-11:00 ,W (T212) F (T212) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
779,HEAT TREATMENT AND SURFACE HARDENING(MSE671),3-0-0-0(9),KAUSTUBH NARHAR KULKARNI(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
974,THERMO-FLUID ENGINEERING(SEE601),3-0-0-0(9),Laltu Chandra(I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
975,THERMO-FLUID ENGINEERING(SEE601A),3-0-0-0(9),Laltu Chandra(I),"T (T112) 10:00-11:00 ,W (T112) F (T112) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
983,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
984,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W (WL235) 12:00-13:00 ,F (WL235) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM

In [122]:
output_file = "output_2707_6PM.csv"

# Save the DataFrame to the CSV file
df2.to_csv(output_file, index=False)

In [123]:
df3 = pd.read_csv(output_file)

In [142]:
indices_with_non_none_values = df3.index[df3['Cleaned_Time_3'].notna()]

# Print the rows with non-None values
df3.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7
216,GRADUATE SEMINAR(CHE801A),0-0-0-0(0),Rahul Mangal(I),"T (T110) 11:00-12:00 ,W (T110) F (T110) 16:0...",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM,17:00-18:00,17:00 PM,18:00 PM,Th
217,GRADUATE SEMINAR(CHE802A),0-0-0-0(0),Rahul Mangal(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM,17:00-18:00,17:00 PM,18:00 PM,Th
313,HARDWARE SECURITY OF INTERNET OF THINGS(CS666),3-0-0-0(9),Urbi Chatterjee(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
314,HARDWARE SECURITY OF INTERNET OF THINGS(CS666A),3-0-0-0(9),Urbi Chatterjee(I),"W (KD102) 12:00-13:00 ,F (KD102) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
436,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641),3-0-0-0(9),ANIMESH BISWAS (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
437,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641A),3-0-0-0(9),ANIMESH BISWAS (I),"T (T106) 10:00-11:00 ,W (T106) F (T106) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
701,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
702,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648A),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W (T211) 12:00-13:00 ,F (T211) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
734,VIBRATION CONTROL(ME756),3-0-0-0(9),B BHATTACHARYA (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
735,VIBRATION CONTROL(ME756A),3-0-0-0(9),B BHATTACHARYA (I),"W (T103) 12:00-13:00 ,F (T103) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
764,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
765,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T (T212) 10:00-11:00 ,W (T212) F (T212) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
778,HEAT TREATMENT AND SURFACE HARDENING(MSE671),3-0-0-0(9),KAUSTUBH NARHAR KULKARNI(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM,17:00-18:00,17:00 PM,18:00 PM,Th
973,THERMO-FLUID ENGINEERING(SEE601),3-0-0-0(9),Laltu Chandra(I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
974,THERMO-FLUID ENGINEERING(SEE601A),3-0-0-0(9),Laltu Chandra(I),"T (T112) 10:00-11:00 ,W (T112) F (T112) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM,17:00-18:00,17:00 PM,18:00 PM,M
982,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T
983,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W (WL235) 12:00-13:00 ,F (WL235) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM,17:00-18:00,17:00 PM,18:00 PM,T

In [130]:
df3["time7"] = None

In [135]:
df3["start_time7"] = None
df3["end_time7"] = None

In [136]:
df3["start_time7"][indices_with_non_none_values] = "17:00 PM"
df3["end_time7"][indices_with_non_none_values] = "18:00 PM"

In [132]:
df3

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [140]:
df3['day7'] = df3['Cleaned_Time_3'].str[:-11]

In [141]:
df3

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,None,None,None,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,None,None,None,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,None,None,None,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,None,None,None,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,None,None,None,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,None,None,None,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,None,None,None,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,None,None,None,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,NaN

In [143]:
df3 = df3.drop("Cleaned_Time_3", axis = 1)

In [145]:
output_file = "output_2707_7PM.csv"

# Save the DataFrame to the CSV file
df3.to_csv(output_file, index=False)

In [146]:
df = pd.read_csv(output_file)

In [147]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
def showColumnsNotNone(df3, str) :
    indices_with_non_none_values = df3.index[df3[str].notna()]

# Print the rows with non-None values
    df3.loc[indices_with_non_none_values]

In [152]:
showColumnsNotNone(df, "Time.2")

In [153]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
indices_with_non_none_values = df2.index[df2['Cleaned_Time_3'].notna()]

# Print the rows with non-None values
df2.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,Cleaned_Time_3,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456
216,GRADUATE SEMINAR(CHE801A),0-0-0-0(0),Rahul Mangal(I),"T (T110) 11:00-12:00 ,W (T110) F (T110) 16:0...",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
217,GRADUATE SEMINAR(CHE802A),0-0-0-0(0),Rahul Mangal(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
286,PRACTICAL ETHICS(ETH111),1-0-0-2(3),Pingala Admin Not Offered(I),W (T204) W (T207) W (T208) W (T210) W (T203) W...,NaN,NaN,FF17:00-18:30,W,W,W,08:00 AM,09:30 AM,T,T,11:00 AM,12:30 PM
314,HARDWARE SECURITY OF INTERNET OF THINGS(CS666),3-0-0-0(9),Urbi Chatterjee(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
315,HARDWARE SECURITY OF INTERNET OF THINGS(CS666A),3-0-0-0(9),Urbi Chatterjee(I),"W (KD102) 12:00-13:00 ,F (KD102) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
437,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641),3-0-0-0(9),ANIMESH BISWAS (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
438,ADVANCED ENGINEERING ELECTROMAGNETICS(EE641A),3-0-0-0(9),ANIMESH BISWAS (I),"T (T106) 10:00-11:00 ,W (T106) F (T106) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
702,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
703,COMPUTER AIDED DESIGN OF THERMAL SYSTEMS(ME648A),3-0-0-0(9),PRADIPTA K PANIGRAHI (I),"W (T211) 12:00-13:00 ,F (T211) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
735,VIBRATION CONTROL(ME756),3-0-0-0(9),B BHATTACHARYA (I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
736,VIBRATION CONTROL(ME756A),3-0-0-0(9),B BHATTACHARYA (I),"W (T103) 12:00-13:00 ,F (T103) 14:00-15:00 ,...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
765,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
766,PHYSICAL & MATHEMATICAL MODELLING OF STEELMAKI...,3-0-0-0(9),DIPAK MAZUMDAR (I),"T (T212) 10:00-11:00 ,W (T212) F (T212) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
779,HEAT TREATMENT AND SURFACE HARDENING(MSE671),3-0-0-0(9),KAUSTUBH NARHAR KULKARNI(I),"T 11:00-12:00 ,WF 16:00-17:00 ,Th 17:00-18:00",NaN,NaN,Th17:00-18:00,T,1,NaN,11:00 AM,12:00 PM,W,F,16:00 PM,17:00 PM
974,THERMO-FLUID ENGINEERING(SEE601),3-0-0-0(9),Laltu Chandra(I),"T 10:00-11:00 ,WF 15:00-16:00 ,M 17:00-18:00",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
975,THERMO-FLUID ENGINEERING(SEE601A),3-0-0-0(9),Laltu Chandra(I),"T (T112) 10:00-11:00 ,W (T112) F (T112) 15:0...",NaN,NaN,M17:00-18:00,T,1,NaN,10:00 AM,11:00 AM,W,F,15:00 PM,16:00 PM
983,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W 12:00-13:00 ,F 14:00-15:00 ,T 17:00-18:00",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM
984,MATHEMATICAL AND COMPUTATIONAL TOOLS FOR ENGIN...,3-0-0-0(9),Lalit Pant(I),"W (WL235) 12:00-13:00 ,F (WL235) 14:00-15:00...",NaN,NaN,T17:00-18:00,W,1,NaN,12:00 PM,13:00 PM,F,NaN,14:00 PM,15:00 PM

In [158]:
df = pd.read_csv("output_2707_7PM.csv")

In [159]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
df['Time.1'] = df['Time.1'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time.1'].apply(remove_nested_parentheses)

In [161]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,end_time123,day4,day5,start_time456,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F 17:00-18:00
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,13:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F 12:00-13:00
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,9:00 AM,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,17:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,15:00 PM,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,10:15 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,13:15 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [162]:
# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

In [163]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time456,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,F 17:00-18:00,F 17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,F 12:00-13:00,F 12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,,,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,,,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,,,None,None

In [164]:
df = df.drop('Cleaned_Time', axis=1)

In [165]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day5,start_time456,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F 17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F 12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None

In [166]:
df['Cleaned_Time_1'] = df['Cleaned_Time_1'].str.replace(r'\s+', '', regex=True)
df['Cleaned_Time_2'] = df['Cleaned_Time_2'].str.replace(r'\s+', '', regex=True)
df['Cleaned_Time_3'] = df['Cleaned_Time_3'].str.replace(r'\s+', '', regex=True)

In [167]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day5,start_time456,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,None,None

In [168]:
df['day8'] = df['Cleaned_Time_1'].str[0]
df['day9'] = df['Cleaned_Time_1'].str[1]
df['day10'] = df['Cleaned_Time_1'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 12, 'day10'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 11, ['day9', 'day10']] = None

# Extracting 'time1', 'time2', and 'time3' from 'Cleaned_Time_1'
df['time8'] = df['Cleaned_Time_1'].str[3:11] + 'PM'
df['time9'] = df['Cleaned_Time_1'].str[3:11] + 'PM'
df['time10'] = df['Cleaned_Time_1'].str[3:11] + 'PM'

# For the rows with one day (like 'M09:00-10:15'), we need to adjust 'time2' and 'time3' based on the provided time duration
# For example, 'time2' should be '09:00-10:15PM' and 'time3' should be None
df.loc[df['Cleaned_Time_1'].str.len() == 11, 'time9'] = df.loc[df['Cleaned_Time_1'].str.len() == 11, 'Cleaned_Time_1'].str[1:11] + 'PM'
df.loc[df['Cleaned_Time_1'].str.len() == 11, 'time10'] = None

In [169]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day7,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day8,day9,day10,time8,time9,time10
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,F17:00-18:00,None,None,F,1,None,:00-18:0PM,:00-18:0PM,:00-18:0PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,F12:00-13:00,None,None,F,1,None,:00-13:0PM,:00-13:0PM,:00-13:0PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM

In [171]:
df[["day10", "day9"]] = df.apply(lambda row: process_day3(row["day10"], row["day9"]), axis=1, result_type="expand")

In [172]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day7,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day8,day9,day10,time8,time9,time10
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,F17:00-18:00,None,None,F,1,None,:00-18:0PM,:00-18:0PM,:00-18:0PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,F12:00-13:00,None,None,F,1,None,:00-13:0PM,:00-13:0PM,:00-13:0PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,,None,None,NaN,NaN,NaN,PM,PM,PM

In [173]:
df =df.drop(['time8', 'time9', 'time10'], axis=1)

In [174]:
df["time8910"] = df["Cleaned_Time_1"].str[-11:]

In [175]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time7,end_time7,day7,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day8,day9,day10,time8910
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,F17:00-18:00,None,None,F,1,None,17:00-18:00
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,F12:00-13:00,None,None,F,1,None,12:00-13:00
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,None,None,NaN,NaN,NaN,

In [176]:
# Apply the function to the "raw" column and create new columns "start_time" and "end_time"
df[['start_time8910', 'end_time8910']] = df["time8910"].apply(lambda x: pd.Series(convert_time(x)))

In [178]:
df['start_time8910'] = df['start_time8910'].apply(convert_to_new_format)
df['end_time8910'] = df['end_time8910'].apply(convert_to_new_format)

In [182]:
# df = df.drop("time8910", axis = 1)
df = df.drop('Cleaned_Time_1', axis =1)

In [183]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time7,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,day9,day10,start_time8910,end_time8910
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,None,None,F,1,None,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,None,None,F,1,None,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,None

In [189]:
indices_with_non_none_values = df.index[df['day9'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,time7,start_time7,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,day9,start_time8910,end_time8910
56,MECHANICS OF SOLIDS(ESO202),3-1-0-1(11),"Pritam Chakraborty (I), Gopalakrishna M Kam...",M (L16) Th (L16) F (L16) 10:00-11:00,W (T208) W (T205) W (T206) W (T207) W (T210) W...,NaN,M,Th,NaN,10:00 AM,...,NaN,NaN,NaN,NaN,None,None,W,W,10:00 AM,11:00 AM
165,COMPUTATIONAL METHODS IN ENGINEERING(ESO208A),3-1-0-0(11),Gourabananda Pahar(I),M (L07) Th (L07) F (L07) 11:00-12:00,W (T206) W (T203) W (T207) W (T204) W (T208) W...,NaN,M,Th,NaN,11:00 AM,...,NaN,NaN,NaN,NaN,None,None,W,W,11:00 AM,12:00 PM
222,GENERAL CHEMISTRY: PHYSICAL CHEMISTRY(CHM112M) /B,2-1-0-0(4),"Vishal (I), Arnab Ghosh(O)",T (L19) Th (L19) 15:00-16:00,F (L12) F (L10) F (L11) 15:00-16:00,NaN,T,Th,NaN,15:00 PM,...,NaN,NaN,NaN,NaN,None,None,F,F,15:00 PM,16:00 PM
223,GENERAL CHEMISTRY: PHYSICAL CHEMISTRY(CHM112M) /A,2-1-0-0(4),"Vishal (I), Arnab Ghosh(O)",M (L19) W (L19) 14:00-15:00,F (L13) F (L14) F (L15) 15:00-16:00,NaN,M,W,NaN,14:00 PM,...,NaN,NaN,NaN,NaN,None,None,F,F,15:00 PM,16:00 PM
282,INORGANIC MOLECULES MATERIALS & MEDICINE(CSO2...,3-1-0-0(11),"ASHIS KUMAR PATRA(I), JITENDRA BERA(O)",M (L02) Th (L02) F (L02) 09:00-10:00,W (L14) W (L10) W (L15) W (L11) 09:00-10:00,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,None,None,W,W,09:00 AM,10:00 AM
340,FUNDAMENTALS OF COMPUTING - I(ESC111M) /C,3-1-3-0(7),Priyanka Bagade(I),M (L20) Th (L20) F (L20) 12:00-13:00,W (T210) W (T203) W (T111) W (T107) W (T205) W...,F 14:00-17:00,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,None,None,W,W,12:00 PM,13:00 PM
398,APPLIED PROBABILITY AND STATISTICS(HSO201),3-1-0-0(11),"JOYDEEP DUTTA (I), Aditya Vikram(T)",M (L16) Th (L16) F (L16) 11:00-12:00,W (L16) W (L15) 11:00-12:00,NaN,M,Th,NaN,11:00 AM,...,NaN,NaN,NaN,NaN,None,None,W,W,11:00 AM,12:00 PM
400,PRINCIPLES OF COMMUNICATION(EE320A),3-1-0-0(11),KASTURI VASUDEVAN (I),T (L18) W (L18) Th (L18) 08:00-09:00,F (T102) F (T105) F (T104) F (T101) F (T103) ...,NaN,T,W,T,8:00 AM,...,NaN,NaN,NaN,NaN,None,None,F,F,15:00 PM,16:00 PM
402,DIGITAL ELECTRONICS(EE370A),3-1-0-0(11),Rik Dey(I),M (L17) W (L17) F (L17) 11:00-12:00,T (T111) T (T108) T (T109) T (T110) T (T112) ...,NaN,M,W,F,11:00 AM,...,NaN,NaN,NaN,NaN,None,None,T,T,17:00 PM,18:00 PM
747,INTRODUCTION TO MATERIALS SCIENCE AND ENGINEER...,2-1-0-0(8),KRISHANU BISWAS (I),M (L09) W (L09) 11:00-12:00,F (T205) F (T204) F (T203) 11:00-12:00,NaN,M,W,NaN,11:00 AM,...,NaN,NaN,NaN,NaN,None,None,F,F,11:00 AM,12:00 PM
805,COMPLEX VARIABLES(MSO202M),3-1-0-0(6),Saurabh Singh(I),W (L20) Th (L20) F (L20) 09:00-10:00,M (L10) M (L05) M (L12) M (L11) M (L04) 09:00...,NaN,W,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,None,None,M,M,09:00 AM,10:00 AM
809,SINGLE VARIABLE CALCULUS(MTH111M) /A,3-1-0-0(6),NANDINI NILAKANTAN (I),M (L19) Th (L19) F (L19) 16:00-17:00,T (L10) T (L11) T (L12) 16:00-17:00,NaN,M,Th,NaN,16:00 PM,...,NaN,NaN,NaN,NaN,None,None,T,T,16:00 PM,17:00 PM
810,SINGLE VARIABLE CALCULUS(MTH111M) /B,3-1-0-0(6),P SHUNMUGARAJ (I),M (L07) Th (L07) F (L07) 16:00-17:00,T (L14) T (L15) T (L13) 16:00-17:00,NaN,M,Th,NaN,16:00 PM,...,NaN,NaN,NaN,NaN,None,None,T,T,16:00 PM,17:00 PM
811,SINGLE VARIABLE CALCULUS(MTH111M) /C,3-1-0-0(6),NANDINI NILAKANTAN (I),M (L19) W (L19) F (L19) 10:00-11:00,T (L10) T (L11) T (L12) 10:00-11:00,NaN,M,W,F,10:00 AM,...,NaN,NaN,NaN,NaN,None,None,T,T,10:00 AM,11:00 AM
812,SINGLE VARIABLE CALCULUS(MTH111M) /D,3-1-0-0(6),P SHUNMUGARAJ (I),M (L07) W (L07) F (L07) 10:00-11:00,T (L15) T (L13) T (L14) 10:00-11:00,NaN,M,W,F,10:00 AM,...,NaN,NaN,NaN,NaN,None,None,T,T,10:00 AM,11:00 AM
909,CLASSICAL DYNAMICS(PHY112),3-1-0-0(11),Supratik Banerjee(I),M (L07) Th (L07) F (L07) 09:00-10:00,T (L10) T (L11) T (L13) T (L08) 09:00-10:00,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,None,None,T,T,09:00 AM,10:00 AM
912,OSCILLATIONS AND WAVES(PHY115),3-1-0-0(11),Sivasurender Chandran(I),M (L01) Th (L01) F (L01) 09:00-10:00,T (DJAB(206H)) T (DJAB(203H)) T (DJAB(205H)) ...,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,None,None,T,T,09:00 AM,10:00 AM

In [190]:
df = df.drop("day9", axis = 1)

In [188]:
df[["day9", "day8"]] = df.apply(lambda row: process_day3(row["day9"], row["day8"]), axis=1, result_type="expand")

In [194]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,start_time8910,end_time8910
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,F,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,F,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,10:00 AM,NaN,NaN,NaN,NaN,None,None,NaN,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,18:00 PM,NaN,NaN,NaN,NaN,None,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None

In [196]:
df["Cleaned_Time_3"][403]

'Th17:00-18:00'

In [197]:
df['day9'] = df['Cleaned_Time_2'].str[0]
df['day10'] = df['Cleaned_Time_2'].str[1]
df['day11'] = df['Cleaned_Time_2'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_2'].str.len() == 12, 'day11'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_2'].str.len() == 11, ['day10', 'day11']] = None

In [198]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,start_time8910,end_time8910,day9,day10,day11
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,None,None,F,17:00 PM,18:00 PM,None,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,None,None,F,12:00 PM,13:00 PM,None,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,None,None,NaN,None,None,None,None,None

In [200]:
new_column_names = {
    'start_time8910': 'start_time8',
    'end_time8910': 'end_time8'
}

df = df.rename(columns=new_column_names)

In [201]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,start_time8,end_time8,day9,day10,day11
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,None,None,F,17:00 PM,18:00 PM,None,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,None,None,F,12:00 PM,13:00 PM,None,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,None,None,None,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,None,None,NaN,None,None,None,None,None

In [202]:
df[["day11", "day10"]] = df.apply(lambda row: process_day3(row["day11"], row["day10"]), axis=1, result_type="expand")

In [216]:
indices_with_non_none_values = df.index[df['day9'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,time7,start_time7,end_time7,day7,Cleaned_Time_2,Cleaned_Time_3,day8,start_time8,end_time8,day9
403,ELECTRICAL ENGINEERING LAB I(EE380A),0-2-6-0(12),YATINDRA NATH SINGH (I),NaN,"T (L01) 12:00-13:00 ,F (L01) 16:00-17:00 ,Th...",MTWTh 14:00-17:00,NaN,NaN,NaN,NaN,...,NaN,16:00 PM,17:00 PM,F,F16:00-17:00,Th17:00-18:00,T,12:00 PM,13:00 PM,F
406,ELECTRICAL ENGINEERING LAB I(EE480A),0-2-6-0(10),YATINDRA NATH SINGH (I),NaN,"T (T109) 12:00-13:00 ,F (T109) 16:00-17:00 ,...",MTWTh 14:00-17:00,NaN,NaN,NaN,NaN,...,NaN,16:00 PM,17:00 PM,F,F16:00-17:00,Th17:00-18:00,T,12:00 PM,13:00 PM,F

In [217]:
df = df.drop("day9", axis = 1)

In [214]:
df["start_time7"][406] = "16:00 PM"
df["end_time7"][406] = "17:00 PM"

In [205]:
df = df.drop(['day10', 'day11'], axis = 1)

In [223]:
df = df.drop("Cleaned_Time_2", axis = 1)

In [224]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time456,end_time456,time7,start_time7,end_time7,day7,Cleaned_Time_3,day8,start_time8,end_time8
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,F,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,F,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,None,NaN,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None

In [233]:
indices_with_non_none_values = df.index[df['Cleaned_Time_3'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day5,start_time456,end_time456,start_time7,end_time7,day7,Cleaned_Time_3,day8,start_time8,end_time8
403,ELECTRICAL ENGINEERING LAB I(EE380A),0-2-6-0(12),YATINDRA NATH SINGH (I),NaN,"T (L01) 12:00-13:00 ,F (L01) 16:00-17:00 ,Th...",MTWTh 14:00-17:00,Th,NaN,NaN,17:00 PM,...,NaN,NaN,NaN,16:00 PM,17:00 PM,F,Th17:00-18:00,T,12:00 PM,13:00 PM
406,ELECTRICAL ENGINEERING LAB I(EE480A),0-2-6-0(10),YATINDRA NATH SINGH (I),NaN,"T (T109) 12:00-13:00 ,F (T109) 16:00-17:00 ,...",MTWTh 14:00-17:00,Th,NaN,NaN,17:00 PM,...,NaN,NaN,NaN,16:00 PM,17:00 PM,F,Th17:00-18:00,T,12:00 PM,13:00 PM

In [232]:
df["day1"][406] = "Th"
df["start_time123"][406] = "17:00 PM"
df["end_time123"][406] = "18:00 PM"

In [234]:
df = df.drop("Cleaned_Time_3",axis =1 )

In [235]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day4,day5,start_time456,end_time456,start_time7,end_time7,day7,day8,start_time8,end_time8
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,17:00 PM,18:00 PM
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,12:00 PM,13:00 PM
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,NaN,M,F,NaN,8:00 AM,...,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,NaN,W,F,NaN,14:00 PM,...,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [236]:
# Replace NaN values in the 'Time' column with an empty string
df['Time.2'] = df['Time.2'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time.2'].apply(remove_nested_parentheses)

In [237]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day5,start_time456,end_time456,start_time7,end_time7,day7,day8,start_time8,end_time8,Cleaned_Time
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,F,17:00 PM,18:00 PM,
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,F,12:00 PM,13:00 PM,
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,NaN,None,None,
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,NaN,None,None,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,

In [238]:
# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

In [240]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time456,start_time7,end_time7,day7,day8,start_time8,end_time8,Cleaned_Time,Cleaned_Time_1,Cleaned_Time_2
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,F,17:00 PM,18:00 PM,,,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,F,12:00 PM,13:00 PM,,,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,10:00 AM,NaN,NaN,NaN,NaN,None,None,,,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,18:00 PM,NaN,NaN,NaN,NaN,None,None,,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,,,None

In [250]:
df["Cleaned_Time_2"][825]

'Th 14:00-15:15'

In [251]:
df = df.drop('Cleaned_Time', axis=1)

In [252]:
df['Cleaned_Time_1'] = df['Cleaned_Time_1'].str.replace(r'\s+', '', regex=True)

In [253]:
df['Cleaned_Time_2'] = df['Cleaned_Time_2'].str.replace(r'\s+', '', regex=True)

In [254]:
df['day8'] = df['Cleaned_Time_1'].str[0]
df['day9'] = df['Cleaned_Time_1'].str[1]
df['day10'] = df['Cleaned_Time_1'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 12, 'day10'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 11, ['day9', 'day10']] = None

In [256]:
df[["day10", "day9"]] = df.apply(lambda row: process_day3(row["day10"], row["day9"]), axis=1, result_type="expand")

In [257]:
df["time8910"] = df["Cleaned_Time_1"].str[-11:]

In [262]:
df['Time.1'] = df['Time.1'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time.1'].apply(remove_nested_parentheses)

# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

df = df.drop('Cleaned_Time', axis=1)

In [263]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,time8910,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,,F 17:00-18:00,None,None,F 17:00-18:00,None,None,F 17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,,F 12:00-13:00,None,None,F 12:00-13:00,None,None,F 12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,,,None,None,,None,None,,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,,,None,None,,None,None,,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,,,None,None,,None,None,,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,,,None,None,,None,None,,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,,,None,None,,None,None,,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,,,None,None,,None,None,,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,,,None,None,,None,None,,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,,,None,None,,None,None,,None,None

In [266]:
df2 = df.drop(["Cleaned_Time_1", "Cleaned_Time_2", "Cleaned_Time_3"], axis = 1)

In [267]:
df2

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time456,start_time7,end_time7,day7,day8,start_time8,end_time8,day9,day10,time8910
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,17:00 PM,18:00 PM,NaN,NaN,
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,12:00 PM,13:00 PM,NaN,NaN,
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,10:00 AM,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,18:00 PM,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,

In [268]:
df = df2

In [269]:
df['Time.1'] = df['Time.1'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time.1'].apply(remove_nested_parentheses)

# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

df = df.drop('Cleaned_Time', axis=1)

In [270]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day7,day8,start_time8,end_time8,day9,day10,time8910,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,17:00 PM,18:00 PM,NaN,NaN,,F 17:00-18:00,None,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,12:00 PM,13:00 PM,NaN,NaN,,F 12:00-13:00,None,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,NaN,NaN,,,None,None
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,None,None,NaN,NaN,,,None,None

In [271]:
df['Cleaned_Time_1'] = df['Cleaned_Time_1'].str.replace(r'\s+', '', regex=True)
df['Cleaned_Time_2'] = df['Cleaned_Time_2'].str.replace(r'\s+', '', regex=True)
df['Cleaned_Time_3'] = df['Cleaned_Time_3'].str.replace(r'\s+', '', regex=True)

In [273]:
df = df.drop(['day8', 'day9', 'day10'], axis = 1)

In [275]:
df['day8'] = df['Cleaned_Time_1'].str[0]
df['day9'] = df['Cleaned_Time_1'].str[1]
df['day10'] = df['Cleaned_Time_1'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 12, 'day10'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 11, ['day9', 'day10']] = None

In [277]:
df = df.drop("time8910", axis = 1)

In [278]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,end_time7,day7,start_time8,end_time8,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,day8,day9,day10
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,17:00 PM,18:00 PM,F17:00-18:00,None,None,F,1,None
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,12:00 PM,13:00 PM,F12:00-13:00,None,None,F,1,None
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,None,None,,None,None,NaN,NaN,NaN

In [279]:
# df = df.drop("time8910", axis = 1)
df = df.drop('Cleaned_Time_1', axis =1)

In [282]:
df = df.drop(['day9', 'day10'], axis = 1)

In [283]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time456,end_time456,start_time7,end_time7,day7,start_time8,end_time8,Cleaned_Time_2,Cleaned_Time_3,day8
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,17:00 PM,18:00 PM,None,None,F
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,12:00 PM,13:00 PM,None,None,F
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,9:00 AM,10:00 AM,NaN,NaN,NaN,None,None,None,None,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,17:00 PM,18:00 PM,NaN,NaN,NaN,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,NaN

In [284]:
df = df.drop("Cleaned_Time_2", axis = 1)

In [286]:
df = df.drop("Cleaned_Time_3",axis =1 )

In [287]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,day4,day5,start_time456,end_time456,start_time7,end_time7,day7,start_time8,end_time8,day8
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17:00 PM,18:00 PM,F
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:00 PM,13:00 PM,F
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,T,NaN,9:00 AM,10:00 AM,NaN,NaN,NaN,None,None,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,T,NaN,17:00 PM,18:00 PM,NaN,NaN,NaN,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN

In [288]:
df.to_csv("output_2707_10PM.csv")

In [289]:
temp = df

In [290]:
# Replace NaN values in the 'Time' column with an empty string
df['Time.2'] = df['Time.2'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time.2'].apply(remove_nested_parentheses)

In [291]:
# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

In [293]:
df = df.drop('Cleaned_Time', axis=1)

In [294]:
df['Cleaned_Time_1'] = df['Cleaned_Time_1'].str.replace(r'\s+', '', regex=True)
df['Cleaned_Time_2'] = df['Cleaned_Time_2'].str.replace(r'\s+', '', regex=True)

In [295]:
df['day9'] = df['Cleaned_Time_1'].str[0]
df['day10'] = df['Cleaned_Time_1'].str[1]
df['day11'] = df['Cleaned_Time_1'].str[2]

# Handling the case with only two days (like 'MF08:00-09:00')
# In this case, 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 12, 'day11'] = None

# Handling the case with one day (like 'M09:00-10:15')
# In this case, 'day2' and 'day3' should be set to NaN
df.loc[df['Cleaned_Time_1'].str.len() == 11, ['day10', 'day11']] = None

In [296]:
df[["day11", "day10"]] = df.apply(lambda row: process_day3(row["day11"], row["day10"]), axis=1, result_type="expand")

In [297]:
df["time91011"] = df["Cleaned_Time_1"].str[-11:]

In [299]:
# Apply the function to the "raw" column and create new columns "start_time" and "end_time"
df[['start_time91011', 'end_time91011']] = df["time91011"].apply(lambda x: pd.Series(convert_time(x)))

In [316]:
indices_with_non_none_values = df.index[df['day11'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time8,end_time8,day8,Cleaned_Time_2,day9,day10,day11,time91011,start_time91011,end_time91011
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,17:00 PM,18:00 PM,F,None,NaN,NaN,nan,,<NA>,<NA>
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,12:00 PM,13:00 PM,F,None,NaN,NaN,nan,,<NA>,<NA>
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>

In [306]:
df['day11'] = df['day11'].astype(str)

# Replace "T" with "Th" in the "day11" column
df['day11'] = df['day11'].replace('T', 'Th')

In [314]:
df["day11"][93] = "F"

In [315]:
# df = df.drop("time8910", axis = 1)
df = df.drop('Cleaned_Time_1', axis =1)

In [318]:
indices_with_non_none_values = df.index[df['Cleaned_Time_2'].notna()]

# Print the rows with non-None values
df.loc[indices_with_non_none_values]

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time8,end_time8,day8,Cleaned_Time_2,day9,day10,day11,time91011,start_time91011,end_time91011
825,DATA SCIENCE LAB 1(MTH208),0-0-3-2(5),Dootika Vats(I),NaN,,"T 09:00-10:15 ,Th 14:00-15:15",NaN,NaN,NaN,NaN,...,None,None,NaN,Th14:00-15:15,T,0,None,09:00-10:15,09:00 AM,10:15 AM

In [319]:
df["day1"][825] = "Th"

In [320]:
df["start_time123"][825] = "14:00 PM"
df["end_time123"][825] = "15:15 PM"

In [321]:
df

,Course Name/Group Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time8,end_time8,day8,Cleaned_Time_2,day9,day10,day11,time91011,start_time91011,end_time91011
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,,M,W,NaN,17:00 PM,...,17:00 PM,18:00 PM,F,None,NaN,NaN,nan,,<NA>,<NA>
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,,M,W,NaN,12:00 PM,...,12:00 PM,13:00 PM,F,None,NaN,NaN,nan,,<NA>,<NA>
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",,,M,F,NaN,8:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,,,T,W,F,16:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",,,W,F,NaN,14:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,,,M,Th,NaN,9:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,,,M,Th,NaN,9:00 AM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,,,M,Th,NaN,12:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,,,M,Th,NaN,12:00 PM,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,,,NaN,NaN,NaN,NaN,...,None,None,NaN,None,NaN,NaN,nan,,<NA>,<NA>

In [322]:
df.to_csv("output_final.csv")

In [343]:
df = pd.read_csv("output_final.csv")

In [344]:
df

,Course Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,start_time123,...,start_time8,end_time8,day8,Cleaned_Time_2,day9,day10,day11,time91011,start_time91011,end_time91011
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,17:00 PM,...,17:00 PM,18:00 PM,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,12:00 PM,...,12:00 PM,13:00 PM,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,8:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,16:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,14:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,9:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,12:00 PM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [345]:
df["start_time_1"] = df["start_time123"]
df["start_time_2"] = df["start_time123"]
df["start_time_3"] = df["start_time123"]

In [346]:
df.drop(columns=["start_time123"], inplace=True)

In [347]:
df["end_time_1"] = df["end_time123"]
df["end_time_2"] = df["end_time123"]
df["end_time_3"] = df["end_time123"]

# Delete the original "end_time123" column
df.drop(columns=["end_time123"], inplace=True)

In [348]:
df["start_time_4"] = df["start_time45"]
df["start_time_5"] = df["start_time45"]

In [349]:
df["end_time_4"] = df["end_time45"]
df["end_time_5"] = df["end_time45"]

In [351]:
df.drop(columns=["start_time45"], inplace=True)

In [350]:
df.drop(columns=["end_time45"], inplace=True)

In [352]:
print(df.columns)

Index(['Course Name', 'Credits', 'Instructor', 'Time', 'Time.1', 'Time.2',
       'day1', 'day2', 'day3', 'day4', 'day5', 'start_time7', 'end_time7',
       'day7', 'start_time8', 'end_time8', 'day8', 'Cleaned_Time_2', 'day9',
       'day10', 'day11', 'time91011', 'start_time91011', 'end_time91011',
       'start_time_1', 'start_time_2', 'start_time_3', 'end_time_1',
       'end_time_2', 'end_time_3', 'start_time_4', 'start_time_5',
       'end_time_4', 'end_time_5'],
      dtype='object')

In [353]:
df["end_time_9"] = df["end_time91011"]
df["end_time_10"] = df["end_time91011"]
df["end_time_11"] = df["end_time91011"]

In [354]:
df["start_time_9"] = df["start_time91011"]
df["start_time_10"] = df["start_time91011"]
df["start_time_11"] = df["start_time91011"]

In [355]:
df.drop(columns=["end_time91011", "start_time91011"], inplace=True)

In [356]:
df

,Course Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,day4,...,start_time_4,start_time_5,end_time_4,end_time_5,end_time_9,end_time_10,end_time_11,start_time_9,start_time_10,start_time_11
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,T,...,9:00 AM,9:00 AM,10:00 AM,10:00 AM,NaN,NaN,NaN,NaN,NaN,NaN
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,T,...,17:00 PM,17:00 PM,18:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [357]:
print(df.columns)

Index(['Course Name', 'Credits', 'Instructor', 'Time', 'Time.1', 'Time.2',
       'day1', 'day2', 'day3', 'day4', 'day5', 'start_time7', 'end_time7',
       'day7', 'start_time8', 'end_time8', 'day8', 'Cleaned_Time_2', 'day9',
       'day10', 'day11', 'time91011', 'start_time_1', 'start_time_2',
       'start_time_3', 'end_time_1', 'end_time_2', 'end_time_3',
       'start_time_4', 'start_time_5', 'end_time_4', 'end_time_5',
       'end_time_9', 'end_time_10', 'end_time_11', 'start_time_9',
       'start_time_10', 'start_time_11'],
      dtype='object')

In [358]:
df.drop(columns=["time91011", "Cleaned_Time_2"], inplace=True)

In [359]:
df.columns

Index(['Course Name', 'Credits', 'Instructor', 'Time', 'Time.1', 'Time.2',
       'day1', 'day2', 'day3', 'day4', 'day5', 'start_time7', 'end_time7',
       'day7', 'start_time8', 'end_time8', 'day8', 'day9', 'day10', 'day11',
       'start_time_1', 'start_time_2', 'start_time_3', 'end_time_1',
       'end_time_2', 'end_time_3', 'start_time_4', 'start_time_5',
       'end_time_4', 'end_time_5', 'end_time_9', 'end_time_10', 'end_time_11',
       'start_time_9', 'start_time_10', 'start_time_11'],
      dtype='object')

In [360]:
import pandas as pd

# Sample data in a DataFrame
# data = {
#     "Course Name": [
#         "TRANSPORT IN MESOSCOPIC SYSTEMS(PHY632A)",
#         "INTRODUCTION TO CONFORMAL FIELD THEORY(PHY652)"
#     ]
# }
# df = pd.DataFrame(data)

# Extract course code using regular expressions
df["Course Code"] = df["Course Name"].str.extract(r'\((.*?)\)')

df

,Course Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,day4,...,start_time_5,end_time_4,end_time_5,end_time_9,end_time_10,end_time_11,start_time_9,start_time_10,start_time_11,Course Code
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE201M
1,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE209
2,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,T,...,9:00 AM,10:00 AM,10:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,AE311A
3,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE321A
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,T,...,17:00 PM,18:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,AE331A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610A
1006,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620
1007,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620A
1008,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA799

In [361]:
df.columns

Index(['Course Name', 'Credits', 'Instructor', 'Time', 'Time.1', 'Time.2',
       'day1', 'day2', 'day3', 'day4', 'day5', 'start_time7', 'end_time7',
       'day7', 'start_time8', 'end_time8', 'day8', 'day9', 'day10', 'day11',
       'start_time_1', 'start_time_2', 'start_time_3', 'end_time_1',
       'end_time_2', 'end_time_3', 'start_time_4', 'start_time_5',
       'end_time_4', 'end_time_5', 'end_time_9', 'end_time_10', 'end_time_11',
       'start_time_9', 'start_time_10', 'start_time_11', 'Course Code'],
      dtype='object')

In [362]:
df.to_csv("outputForJson.csv")

In [368]:
df = pd.read_csv("outputForJson.csv")

In [369]:
# import pandas as pd

# # Sample DataFrame
# data = {
#     'Credits': ['3-0-0-0(9)', '3-1-0-0(10)', '4-0-0-1(11)']
# }

# df = pd.DataFrame(data)

# Extract integer credits from the 'Credits' column
df['Credits'] = df['Credits'].str.extract(r'\((\d+)\)')

# Display the DataFrame
# print(df)

In [370]:
df

,Course Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,day4,...,start_time_5,end_time_4,end_time_5,end_time_9,end_time_10,end_time_11,start_time_9,start_time_10,start_time_11,Course Code
0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),5,"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE201M
1,DYNAMICS(AE209),8,SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE209
2,COMPRESSIBLE AERODYNAMICS(AE311A),9,Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,T,...,9:00 AM,10:00 AM,10:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,AE311A
3,FLIGHT MECHANICS(AE321A),9,Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE321A
4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),9,C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,T,...,17:00 PM,18:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,AE331A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,9,Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610
1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,9,Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610A
1006,SOLAR SYSTEM MECHANICS(SPA620),9,Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620
1007,SOLAR SYSTEM MECHANICS(SPA620A),9,Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620A
1008,PHD THESIS(SPA799),0,Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA799

In [371]:
df.to_csv("new_output_json.csv")

In [16]:
import pandas as pd
df = pd.read_csv("new_output_json.csv")

In [17]:
df

,Unnamed: 0,Course Name,Credits,Instructor,Time,Time.1,Time.2,day1,day2,day3,...,start_time_5,end_time_4,end_time_5,end_time_9,end_time_10,end_time_11,start_time_9,start_time_10,start_time_11,Course Code
0,0,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),5,"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,F (L05) 17:00-18:00,NaN,M,W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE201M
1,1,DYNAMICS(AE209),8,SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,F (DJAB(206H)) 12:00-13:00,NaN,M,W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE209
2,2,COMPRESSIBLE AERODYNAMICS(AE311A),9,Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",NaN,NaN,M,F,NaN,...,9:00 AM,10:00 AM,10:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,AE311A
3,3,FLIGHT MECHANICS(AE321A),9,Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,NaN,NaN,T,W,F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE321A
4,4,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),9,C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",NaN,NaN,W,F,NaN,...,17:00 PM,18:00 PM,18:00 PM,NaN,NaN,NaN,NaN,NaN,NaN,AE331A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,1004,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,9,Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,M,Th,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610
1005,1005,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,9,Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,NaN,NaN,M,Th,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA610A
1006,1006,SOLAR SYSTEM MECHANICS(SPA620),9,Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,M,Th,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620
1007,1007,SOLAR SYSTEM MECHANICS(SPA620A),9,Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,NaN,NaN,M,Th,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA620A
1008,1008,PHD THESIS(SPA799),0,Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPA799

In [18]:
df['end_time_9'] = df['end_time_9'].apply(convert_to_new_format)
df['end_time_10'] = df['end_time_10'].apply(convert_to_new_format)
df['end_time_11'] = df['end_time_11'].apply(convert_to_new_format)
df['start_time_9'] = df['start_time_9'].apply(convert_to_new_format)
df['start_time_10'] = df['start_time_10'].apply(convert_to_new_format)
df['start_time_11'] = df['start_time_11'].apply(convert_to_new_format)

In [6]:
def convert_to_new_format(time_str):
    if pd.isna(time_str):  # Check if the input is missing (NaN)
        return None        # Return None or any other value that suits your data handling
    
    # Split the time string into hours and minutes
    time_parts = time_str.split(":")
    hours = int(time_parts[0])
    minutes = int(time_parts[1][:2])
    
    # Extract AM/PM information
    meridiem = time_parts[1][3:].strip().upper()
    
    # Convert to 24-hour format
    if meridiem == "PM" and hours != 12:
        hours += 12
    elif meridiem == "AM" and hours == 12:
        hours = 0
    
    # Format the result
    result = f"{hours:02d}:{minutes:02d} {meridiem}"
    return result

In [14]:
df["day10"][9]

In [12]:
df[["day10", "day9"]] = df.apply(lambda row: process_day3(row["day10"], row["day9"]), axis=1, result_type="expand")

In [11]:
def process_day3(value, day2_value):
    # If either "day2" or "day3" is NaN, return them as they are
    if pd.isna(value) or pd.isna(day2_value):
        return value, day2_value

    # If "day3" has lowercase 'h', set it to NaN and concatenate 'h' at the end of "day2" value
    if 'h' in value:
        return pd.NA, day2_value + 'h'

    # If "day3" has a digit, set it to NaN
    if any(char.isdigit() for char in value):
        return pd.NA, day2_value

    # If "day3" has any Capital Alphabet, leave it as it is
    if any(char.isupper() for char in value):
        return value, day2_value

    return value, day2_value

In [19]:
df.to_csv("changed1.csv")