In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("./hello.csv")

In [58]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df['Br']

0        AE
1        AE
2        AE
3        AE
4        AE
       ...
1005    SSA
1006    SSA
1007    SSA
1008    SSA
1009    SSA
Name: Br, Length: 1010, dtype: object

In [60]:
df['Time']

0                            M (L05) W (L05)  17:00-18:00
1              M (DJAB(206H)) W (DJAB(206H))  12:00-13:00
2       M (L14) F (L14)  08:00-09:00 ,T (L14)  09:00-1...
3                    T (L06) W (L06) F (L06)  16:00-17:00
4       W (L09) F (L09)  14:00-15:00 ,T (L09)  17:00-1...
                              ...
1005                                      MTh 09:00-10:15
1006                      M (T112) Th (T112)  09:00-10:15
1007                                      MTh 12:00-13:15
1008                      M (T112) Th (T112)  12:00-13:15
1009                                                  NaN
Name: Time, Length: 1010, dtype: object

In [61]:
df['Time'][1]

'M (DJAB(206H)) W (DJAB(206H))  12:00-13:00'

In [62]:
import re

def remove_nested_parentheses(text):
    while '(' in text and ')' in text:
        # Removing nested parentheses
        text = re.sub(r'\([^()]*\)', '', text)
    
    # Removing standalone closing parentheses
    text = re.sub(r'\)', '', text)

    return text

# Test the function
data = [
    "M (L05) W (L05) 17:00-18:00",
    "M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00",
    "M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-10:00",
    "MTh 09:00-10:15",
    "M (T112) Th (T112) 09:00-10:15",
    "Hello (world)",
    "Alone )",
    "Another (test) string",
    "Nested (parentheses (inside) each) other",
]

cleaned_data = [remove_nested_parentheses(d) for d in data]
print(cleaned_data)

['M  W  17:00-18:00', 'M  W  12:00-13:00', 'M  F  08:00-09:00 ,T  09:00-10:00', 'MTh 09:00-10:15', 'M  Th  09:00-10:15', 'Hello ', 'Alone ', 'Another  string', 'Nested  other']

In [63]:
def remove_nested_parentheses(text):
    if pd.notna(text):  # Check if the value is not NaN
        while '(' in text and ')' in text:
            # Removing nested parentheses
            text = re.sub(r'\([^()]*\)', '', text)
        
        # Removing standalone closing parentheses
        text = re.sub(r'\)', '', text)
    else:
        text = ''  # Set an empty string for NaN values

    return text

In [64]:
# Replace NaN values in the 'Time' column with an empty string
df['Time'] = df['Time'].fillna('')

# Apply the function to the 'Time' column and create a new column 'Cleaned_Time'
df['Cleaned_Time'] = df['Time'].apply(remove_nested_parentheses)

In [65]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2,Cleaned_Time
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN,M W 17:00-18:00
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN,M W 12:00-13:00
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN,"M F 08:00-09:00 ,T 09:00-10:00"
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN,T W F 16:00-17:00
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN,"W F 14:00-15:00 ,T 17:00-18:00"
...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN,MTh 09:00-10:15
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN,M Th 09:00-10:15
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN,MTh 12:00-13:15
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN,M Th 12:00-13:15
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,NaN,NaN,NaN,

In [66]:
# Split the comma-separated values into separate columns
df_cleaned = df['Cleaned_Time'].str.split(',', expand=True)

# Assign column names to the newly generated columns
column_names = [f'Cleaned_Time_{i+1}' for i in range(df_cleaned.shape[1])]
df_cleaned.columns = column_names

# Concatenate the cleaned data with the original DataFrame
df = pd.concat([df, df_cleaned], axis=1)

In [67]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2,Cleaned_Time,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN,M W 17:00-18:00,M W 17:00-18:00,None,None
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN,M W 12:00-13:00,M W 12:00-13:00,None,None
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN,"M F 08:00-09:00 ,T 09:00-10:00",M F 08:00-09:00,T 09:00-10:00,None
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN,T W F 16:00-17:00,T W F 16:00-17:00,None,None
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN,"W F 14:00-15:00 ,T 17:00-18:00",W F 14:00-15:00,T 17:00-18:00,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN,MTh 09:00-10:15,MTh 09:00-10:15,None,None
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN,M Th 09:00-10:15,M Th 09:00-10:15,None,None
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN,MTh 12:00-13:15,MTh 12:00-13:15,None,None
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN,M Th 12:00-13:15,M Th 12:00-13:15,None,None
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,NaN,NaN,NaN,,,None,None

In [68]:
def separate_days_and_times(text):
    days_and_times = re.findall(r'(\b(?:M(?:on)?|T(?:ue)?|W(?:ed)?|Th(?:u)?|F(?:ri)?|Sa(?:t(?:ur)?|un)?)\b\s*\d{2}:\d{2}-\d{2}:\d{2})', text)
    return days_and_times

In [71]:
df

,S.No.,Br,Course Name/Group Name,Credits,Instructor,Time,Venue,Time.1,Venue.1,Time.2,Venue.2,Cleaned_Time,Cleaned_Time_1,Cleaned_Time_2,Cleaned_Time_3,Days_And_Times
0,1,AE,INTRODUCTION TO AEROSPACE ENGINEERING(AE201M),3-0-0-0(5),"ASHOKE DE (I), ABHISHEK (O)",M (L05) W (L05) 17:00-18:00,L05,F (L05) 17:00-18:00,L05,NaN,NaN,M W 17:00-18:00,M W 17:00-18:00,None,None,[W 17:00-18:00]
1,2,AE,DYNAMICS(AE209),2-1-0-0(8),SANJAY KUMAR (I),M (DJAB(206H)) W (DJAB(206H)) 12:00-13:00,DJAB(206H),F (DJAB(206H)) 12:00-13:00,DJAB(206H),NaN,NaN,M W 12:00-13:00,M W 12:00-13:00,None,None,[W 12:00-13:00]
2,3,AE,COMPRESSIBLE AERODYNAMICS(AE311A),3-0-0-0(9),Arun Perumal(I),"M (L14) F (L14) 08:00-09:00 ,T (L14) 09:00-1...",L14,NaN,NaN,NaN,NaN,"M F 08:00-09:00 ,T 09:00-10:00",M F 08:00-09:00,T 09:00-10:00,None,"[F 08:00-09:00, T 09:00-10:00]"
3,4,AE,FLIGHT MECHANICS(AE321A),3-0-0-0(9),Subrahmanyam Saderla(I),T (L06) W (L06) F (L06) 16:00-17:00,L06,NaN,NaN,NaN,NaN,T W F 16:00-17:00,T W F 16:00-17:00,None,None,[F 16:00-17:00]
4,5,AE,INTRODUCTION TO AEROSPACE STRUCTURES(AE331A),3-0-0-0(9),C S UPADHYAY (I),"W (L09) F (L09) 14:00-15:00 ,T (L09) 17:00-1...",L09,NaN,NaN,NaN,NaN,"W F 14:00-15:00 ,T 17:00-18:00",W F 14:00-15:00,T 17:00-18:00,None,"[F 14:00-15:00, T 17:00-18:00]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),MTh 09:00-10:15,NaN,NaN,NaN,NaN,NaN,MTh 09:00-10:15,MTh 09:00-10:15,None,None,[]
1006,1007,SSA,FUNDAMENTALS OF ASTRONOMY AND ASTROPHYSICS(SPA...,3-0-0-0(9),Amitesh Omar(I),M (T112) Th (T112) 09:00-10:15,T112,NaN,NaN,NaN,NaN,M Th 09:00-10:15,M Th 09:00-10:15,None,None,[Th 09:00-10:15]
1007,1008,SSA,SOLAR SYSTEM MECHANICS(SPA620),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),MTh 12:00-13:15,NaN,NaN,NaN,NaN,NaN,MTh 12:00-13:15,MTh 12:00-13:15,None,None,[]
1008,1009,SSA,SOLAR SYSTEM MECHANICS(SPA620A),3-0-0-0(9),Sharvari Nadkarni Ghosh (I),M (T112) Th (T112) 12:00-13:15,T112,NaN,NaN,NaN,NaN,M Th 12:00-13:15,M Th 12:00-13:15,None,None,[Th 12:00-13:15]
1009,1010,SSA,PHD THESIS(SPA799),0-0-0-0(0),Sharvari Nadkarni Ghosh (I),,NaN,NaN,NaN,NaN,NaN,,,None,None,[]

In [72]:
def format_schedule(schedule_str):
    if pd.notna(schedule_str):
        # Remove spaces between alphabets
        schedule_str = re.sub(r'\s+([A-Za-z])\s+', r'\1', schedule_str)
        # Remove extra spaces between alphabets and timings
        schedule_str = re.sub(r'\s+(\d)', r'\1', schedule_str)
    
    return schedule_str

In [73]:
df['formatted_schedule_column'] = df['Cleaned_Time_1'].apply(format_schedule)

In [74]:
df['formatted_schedule_column']

0             MW17:00-18:00
1             MW12:00-13:00
2            MF08:00-09:00
3         TWF   16:00-17:00
4            WF14:00-15:00
               ...
1005        MTh 09:00-10:15
1006    M  Th   09:00-10:15
1007        MTh 12:00-13:15
1008    M  Th   12:00-13:15
1009
Name: formatted_schedule_column, Length: 1010, dtype: object

In [75]:
df['formatted_schedule_column'][0]

'MW17:00-18:00'

In [77]:
df['formatted_schedule_column'][3]

'TWF   16:00-17:00'